{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/stylesheets/map_styles.css' %}" />
{% endblock %}

{% block body_content %}
    <input id="map-search" type="text">
    <div id="map-auto-fill"></div>
    <div id="map"></div>
{% endblock %}

{% block extra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
{% endblock %}